# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Custom
*.log
*.idb
*.recipe
*.ilk
*.tlog
*.lastbuildstate
*.pdb
*.suo
*.VC
.ipch
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
